@font-face {
  font-family: "Telus-Web-Reg";
  src: url("./resources/fonts/Telus-Web-Reg.ttf");
}
*:focus {
  outline: 0 !important;
  border: none!important;
}
body
{
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: bold; */
  font-family: "Telus-Web-Reg"!important;
}
h5
{
  font-weight: bolder!important;
}
a { color: inherit!important;
  text-decoration: none!important;
} 
.heading-font
{
  /* font-weight: bolder!important; */
  color: #282c34;
}
.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.heightClass {
  width: 100%;
  height: 18vw;
}
.bannerclass
{
  height: 400px;
}
.card
{
  border-radius: 10px!important;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  text-decoration: none;
}
a { color: inherit; } 
@media (max-width: 991px) {
  .heightClass
  {
    height: 300px!important;
  }
  .bannerclass
  {
    height: 100%;
  }
  .mobile-caption
  {
    display: none;
  }
  .paginationBtn li a 
  {
    padding: 8px!important;
    border-radius: 10px;
    align-items: center;
    display: flex;
    background-color: white;
    color: rgb(75 40 109);
    margin-left: 3px!important;
    margin-right: 3px!important;
    box-shadow: 0 14px 28px rgb(182 182 182), 0 10px 10px rgb(154 154 154);

  }
  .previousBtn
  {
    background-color: rgb(75 40 109);
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
    margin-right: 0px;
  }
  .nextBtn
  {
    background-color: rgb(75 40 109);
    padding: 9px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 0px;

  }
  .positionCounter
  {
    position: static!important;
  }
  .p-sm
  {
    margin-left: 20px;
  }
  .searchspace
  {
    margin: 10px;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.paginationBtn
{
  width: 80%;
  height: 40px;
  list-style: none;
  justify-content: center;
  display: flex;
}
.paginationActive a
{
  background-color: rgb(75 40 109)!important;
  color: white!important;
}
.previousBtn
{
  background-color: rgb(75 40 109);
  padding: 9px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.nextBtn
{
  background-color: rgb(75 40 109);
  padding: 9px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
.paginationBtn li a
{
  /* border: 2px solid rgb(193 193 193); */
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  background-color: white;
  color: rgb(75 40 109);
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 14px 28px rgb(182 182 182), 0 10px 10px rgb(154 154 154);
}

.paginationBtn li a:hover {
  background-color: rgb(75 40 109);
  color: white!important;
}

.positionCounter
{
  position: absolute;
  top: 3px;
}
.violet
{
  color: #4b286d;
}
.b-10
{
  border-radius: 10px;
}
.card-height
{
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
@media(max-width: 767px)
{
  .card-height
  {
    height: auto;
    margin-bottom: 25px;
    border: 2px solid #4b286d;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
  }
}
.cart-img
{
  width: 200px;
  height: 150px;
}
.input-style-1
{
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}
.swal2-confirm
{
  background-color: #4b286d!important;

}
.swal2-cancel
{
  background: none rgb(43, 128, 0)!important;

}
.container-bg
{
  background-color:#c2c2c2;
  border-radius: 10px;
}
.btn-style
{
  color: "white"; 
  background-color: "#ff6a00";
}
.bg-purple
{
  background-color: #c2c2c2!important;
}
.pagination-container
{
  background-color: #c2c2c2;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media(max-width: 767px){
  .pagination-container
  {
    background-color: #c2c2c2;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -25px;
  }

}
.buy-button
{
  border-width: 0px!important;
  border-radius: 4px!important;
  font-size: 1rem!important;
  letter-spacing: -0.8px!important;
  line-height: 1.5!important;
  overflow-wrap: break-word!important;
  font-weight: 700;
  font-family: TELUS-Web, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  margin: 0px!important;
  padding: 0px 2rem!important;
  cursor: pointer!important;
  background: none rgb(43, 128, 0)!important;
  padding-top: 9px!important;
  padding-bottom: 9px!important;
}
.buy-button:active
{
    outline: none!important;
    border: none!important;
}
.buy-button::focus
{
  outline: none!important;
 
}
button{
  outline: none!important;
}
.product-img
{
  width: 100%;
  height: 18vw;
}
.dark-blue-bg
{
  background-color: #4b286d!important; 
}
.icon-style
{
  background-color: #9b8aab;
  border-radius: 50px;
  text-align: center;
  padding: 6px;
  margin: 0px 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-footer
{
    box-shadow: 0px -6px 12px 0px rgb(158 159 175 / 75%);
    -moz-box-shadow: 0px -6px 12px 0px rgba(174,162,162,0.75);
}
.align-text
{
  text-align: left;
}
@media(max-width: 991px)
{
  .align-text
  {
    text-align: center;
  }
  .justify-center
  {
    justify-content: center;
  }
}
.nav-style
{
  padding-right: 20px; 
  margin-right: 15px;
  color: white; 
  max-height: 100px
}
#navbarScrollingDropdown::after {
  display: none;
}
.user-avatar
{
  background-color: #c2c2c2;
  border-radius: 20px;
  width: 40px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
input[type="button"]{
  outline:none;
}
@media(max-width: 991px)
{
  .user-avatar
  {
    background-color : #4b286d;
    box-shadow: none;
  }
  .order-img{
    height: auto!important;
  }
  .page-height
  {
    height: auto!important;
  }
  .heightImage
  {
    height: auto!important;
    width: 300px;
    
  }
  .dropdown-menu
  {
    background-color: #4b286d!important;
    color: white!important;
    border: none!important;
  }
  .image-size
  {
    width: 100%; height: 25vw;
  }
  .no-order {
    height: auto!important;
    width: 100%!important;
  }
  .mobile-height
  {
    height: 470px!important;
  }

}
@media(max-width: 767px)
{
  .page-margin {
    margin-top: 50px!important;
  }
  .mobile-height
  {
    height: 420px!important;
  }
  .mobile-center
  {
    text-align: center;
  }
  body
  {
    background-color: #c2c2c2!important;
  }
}
@media(max-width: 575px)
{
  .mobile-height
  {
    height: 300px!important;
  }
}
@media(max-width: 480px)
{
  .mobile-height
  {
    height: 215px!important;
  }
}
.purple-font
{
  color: #c2c2c2;
}
.page-height
{
  height: 420px;
}
.heightImage
{
  height: 150px;
}
.size{
  width: 250px; 
  height: 250px;
}
.accordion-button
{
  font-weight: bolder;
}
.accordion-button[aria-expanded="true"]{
  background-color: #4b286d!important;
  color: #c2c2c2!important;
}
.order-img
{
  width: 200px; height: 13vw 
}
.no-wishlist
{
  width: 200px; height: 200px 
}
.center-align
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-order {
  width: 600px; height: 500px;
}
.blue-btn
{
  border-width: 0px!important;
    border-radius: 4px!important;
    font-size: 1rem!important;
    letter-spacing: 0.2px!important;
    line-height: 1.5!important;
    overflow-wrap: break-word!important;
    font-weight: 700;
    font-family: "Telus-Web-Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px!important;
    padding: 0px 2rem!important;
    cursor: pointer!important;
    background: none rgb(75, 40, 109)!important;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
}
.btn-space
{
  padding-left: 60px!important;
  padding-right: 60px!important;
}
.dropdown-menu{
  left: -36px!important;
}
.btn-primary:focus{
  box-shadow: none!important;
}
.dropdown-item:focus{
  background-color: #e9ecef!important;
}
.dropdown-item:active{
  background-color: #e9ecef!important;
}
.f600
{
  font-weight: 600;
}
.spacing {
  padding-top: 50px;
  padding-bottom: 100px;
}
.input-style{
  border: 1px solid #54595f!important;
    border-radius: 5px!important;
    background-color: #ffffff!important;
    height: 3rem!important;
    padding: 0 1rem!important;
}
.form-check-input:checked {
  background-color: #2b8000!important;
}
sup{
  color: #c12335;
    font-size: 18px;
    top: 0;
}
.height-banner
{
  height: 100%;
}
.text-blue
{
  color: blue!important;
}
/* @media screen(max-width:1199px) and (min-width: 992px) */
@media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
  .blue-btn
  {
    padding: 0px 1.2rem!important;
    height: 35px;

  }
  .buy-button
  {
    padding: 0px 1.2rem!important;
    height: 35px;
  }

}
.error
{
  color: red
}
textarea:focus, input:focus{
  outline: none;
}
.fixed-header
{
  position: fixed!important;
  top: 0;
  z-index: 100;
  width: 100%;
}
.margin-style
{
  margin-top: 55px;
}
.space-right
{
  margin-right: 25px;
}
.page-margin {
  margin-top: 80px!important;
}
.p-style
{
  padding: 10px;
}
@media(max-width: 575px)
{
  .width-box
  {
    width: 250px;
  }
  .place-center
  {
    text-align: center;
  }
  .center-flex
  {
    justify-content: center;
  }
}
.mb-auto
{
  margin-bottom: 2rem!important;
}